services:
    postgres:
        cap_add:
        - ALL
        command:
        - /usr/local/bin/docker-entrypoint.sh
        - -c
        - config_file=/postgresql.conf
        container_name: postgres
        environment:
        - PGDATA=/data/pg
        - POSTGRES_DB=${XPGDATABASE}
        - POSTGRES_PASSWORD=${XPGPASSWORD}
        - POSTGRES_USER=${XPGUSER}
        image: registry.hub.docker.com/library/postgres:18rc1
        ports:
        - 15432:5432
        shm_size: 1024M
        user: 1000:1000
        volumes:
        - ./configs/postgres/conf/pg_hba.conf:/pg_hba.conf
        - ./configs/postgres/conf/postgresql.conf:/postgresql.conf
        - ./configs/postgres/init/:/docker-entrypoint-initdb.d
        - /tmp/pgdata/:/data/pg
    apiservice:
        build:
            context: ./
            dockerfile: ./api/Dockerfile
        cap_add:
        - ALL
        command:
        - dumb-init
        - --
        - python
        - -m
        - scryfallos.api.entrypoint
        container_name: apiservice
        environment:
        - PGDATABASE=${XPGDATABASE}
        - PGHOST=${DOCKER_POSTGRES_HOST}
        - PGPASSWORD=${XPGPASSWORD}
        - PGUSER=${XPGUSER}
        - PYTHONUNBUFFERED=true
        external_links:
        - postgres:${DOCKER_POSTGRES_HOST}
        ports:
        - 18080:8080
        user: 1000:1000
        volumes:
            - ./data/api:/data/api
            - ./data/ssl:/data/ssl:ro
    cacheservice:
        build:
            context: ./cache/
            dockerfile: ./Dockerfile
        cap_add:
        - ALL
        container_name: cacheservice
        dns:
        - 8.8.8.8
        - 1.1.1.1
        ports:
        - 18081:80
        - 18443:443
        stop_grace_period: 10s
        volumes:
        - ./data/cache:/data/cache
        - ./data/ssl:/app/ssl:ro
        networks:
            default:
                aliases:
                - api.scryfall.com
                - scryfall.com
                - tagger.scryfall.com
    clientservice:
        build:
            context: ./client/
            dockerfile: ./Dockerfile
        cap_add:
        - ALL
        command:
        - dumb-init
        - --
        - python
        - -u
        - ./entrypoint.py
        container_name: clientservice
        external_links:
        - apiservice


networks:
    default:
        driver: bridge
