services:
    postgres:
        cap_add:
        - ALL
        command:
        - /usr/local/bin/docker-entrypoint.sh
        - -c
        - config_file=/postgresql.conf
        container_name: postgres
        environment:
        - PGDATA=/data/pg
        - POSTGRES_DB=${XPGDATABASE}
        - POSTGRES_PASSWORD=${XPGPASSWORD}
        - POSTGRES_USER=${XPGUSER}
        image: registry.hub.docker.com/library/postgres:17.5
        ports:
        - 15432:5432
        shm_size: 1024M
        user: 1000:1000
        volumes:
        - ./configs/postgres/conf/pg_hba.conf:/pg_hba.conf
        - ./configs/postgres/conf/postgresql.conf:/postgresql.conf
        - ./configs/postgres/init/:/docker-entrypoint-initdb.d
        - /tmp/pgdata:/data/pg
    apiservice:
        build:
            context: ./
            dockerfile: ./api/Dockerfile
        cap_add:
        - ALL
        command:
        - dumb-init
        - --
        - python
        - /scryfallos/api/entrypoint.py
        container_name: apiservice
        environment:
        - PGDATABASE=${XPGDATABASE}
        - PGHOST=${DOCKER_POSTGRES_HOST}
        - PGPASSWORD=${XPGPASSWORD}
        - PGUSER=${XPGUSER}
        - PYTHONUNBUFFERED=true
        - OTEL_SERVICE_NAME=apiservice
        - OTEL_EXPORTER_OTLP_TRACES_PROTOCOL=grpc
        - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
        - OTEL_ENABLE_FUNCTION_SPANS=true
        - OTEL_SPAN_LIMIT_PER_REQUEST=500
        external_links:
        - postgres:${DOCKER_POSTGRES_HOST}
        depends_on:
        - jaeger
        ports:
        - 18080:8080
        user: 1000:1000
        volumes:
            - ./data/api:/data/api
    clientservice:
        build:
            context: ./client/
            dockerfile: ./Dockerfile
        cap_add:
        - ALL
        command:
        - dumb-init
        - --
        - python
        - -u
        - ./entrypoint.py
        container_name: clientservice
        external_links:
        - apiservice
    jaeger:
        image: registry.hub.docker.com/jaegertracing/all-in-one:1.57
        container_name: jaeger
        environment:
        - COLLECTOR_OTLP_ENABLED=true
        ports:
        - 4317:4317
        - 4318:4318
        - 9411:9411
        - 14250:14250
        - 14268:14268
        - 16686:16686
